@import "variables.scss";
@import "navigation.scss";
@import "profileSection.scss";
@import "mainSection.scss";
@import "homePage.scss";
@import "mediaQueries.scss";
@import "aboutMe.scss";

//General
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: $primaryFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $primaryFont;
}

// 404 Page

.page404 > h1 {
  font-size: 60px;
  margin: 20%;
}

//Colors
.bg-blue {
  background-color: $blueColor;
}

.text-secondColor {
  color: $secondTextColor;
}

.text-blue {
  color: $blueColor;
}
