@import "variables.scss";
@import "navigation.scss";
@import "profileSection.scss";
@import "mainSection.scss";
@import "homePage.scss";
@import "mediaQueries.scss";
@import "aboutMe.scss";

//General
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  overflow: initial;
  font-family: $primaryFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $primaryFont;
}

// 404 Page

.page404 > h1 {
  font-size: 60px;
  margin: 20%;
}

//Colors
.bg-blue {
  background-color: $blueColor;
}

.text-secondColor {
  color: $secondTextColor;
}

.text-blue {
  color: $blueColor;
}

//The fency scrollbar design

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blueColor;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $blueColor;
}
