// Media queries

//Breakpoint to extra large screens (for tablets landscape) and under
@media screen and (max-width: $breakpoint-xl) {
  .profileSection {
    width: 300px;
  }
  #profileImgDots {
    left: 148px;
  }
}

//Breakpoint to large screens (for tablets portrait) and under

@media screen and (max-width: $breakpoint-lg) {
  .navBar {
    display: none;
  }

  .profileSection {
    display: none;
  }

  .hamburgerMenuIcon {
    display: block;
  }
}
