// Media queries

@media screen and (max-width: $breakpoint-lg) {
  .navBar {
    display: none;
  }

  .profileSection {
    display: none;
  }

  .hamburgerMenuIcon {
    display: block;
  }
}

@media screen and (max-width: $breakpoint-xl) {
  .profileSection {
    width: 300px;
  }
}
