@font-face {
  font-family: popins-light;
  src: url("../fonts/poppins/Poppins-Light.ttf");
}

$primaryBackgroundColor: #222;
$secondaryBackgroundColor: #444444;
$primaryFont: popins-light;
$iconColorActive: #04b4e0 !important;
$textColor: #eee;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 0px;
